h1,
h2 {
  margin: 5px;
}

table#games tr:has(td:hover) td {
  color: var(--document_link_hover);
}

#content {
  text-align: center;
  height: max-content;
  width: fit-content;
}

#content2 {
  display: grid;
  background-color: rgba(0, 0, 0, 0);
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}

#boardMoves {
  background-color: white;
  text-align: left;
}

#editboardButton {
  display: none !important;
}

th {
  border: solid 2px black !important;
  word-wrap: break-word;
}

#stats_container {
  background-color: var(--document_content_background);
  user-select: none;
}

table#stats tr td:first-child {
  font-weight: bold;
  color: var(--document_link);
}

table#stats tr:hover td:first-child {
  font-weight: bold;
  color: var(--document_link_hover);
}

#stats > tr:has(td) {
  cursor: pointer;
}

#games {
  cursor: pointer;
}

#games td {
  color: var(--document_link);
}

#games_container,
#stats_container {
  max-height: 200px;
  overflow-y: auto;
  width: fit-content;
}

#stats_container tr td:nth-of-type(1),
#stats_container tr td:nth-of-type(3) {
  min-width: 6ch;
}

#games_container tr td:nth-of-type(2) {
  text-align: center;
}

#stats th,
#games th {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #stats_container {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
  }

  #games_container {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
  }

  #loading {
    transform: rotateX(180deg);
  }
  #games_container,
  #stats_container {
    direction: rtl;
  }

  #games tr > *,
  #stats tr > *,
  #games_container,
  #stats_container,
  #loading_tree {
    transform: rotate(180deg);
  }

  #stats_container tr td:nth-of-type(5) {
    transform: rotateX(180deg);
  }

  #stats,
  #games {
    text-align: end;
  }

  #board {
    grid-column: 1;
    grid-row: 3;
  }
}

@media only screen and (min-width: 769px) {
  body {
    overflow: hidden;
  }

  #stats_container {
    grid-column: 2;
    grid-row: 1/3;
  }
  #games_container {
    grid-column: 2;
    grid-row: 3;
  }

  #board {
    grid-column: 1;
    grid-row: 1/4;
  }

  table#games td {
    white-space: nowrap;
  }
}

table tr:nth-child(2n) {
  background-color: var(--even-row);
}

table tr:nth-child(2n) td {
  background-color: var(--even-row);
}
table tr:nth-child(2n) th {
  background-color: var(--even-row);
}
table tr:nth-child(2n) input {
  background-color: var(--even-row);
}

table tr:nth-child(2n + 1) {
  background-color: var(--odd-row);
}

table tr:nth-child(2n + 1) td {
  background-color: var(--odd-row);
}
table tr:nth-child(2n + 1) th {
  background-color: var(--odd-row);
}
table tr:nth-child(2n + 1) input {
  background-color: var(--odd-row);
}

