div.not_mobile {
  width: 30vw;
  visibility: hidden;
}
#content {
  width: fit-content;
}

#right_content {
  margin-top: 0;
}

#games_container {
  clear: both;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  #content,
  #right_content {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }
}

@media only screen and (min-width: 769px) {
  #stats_container {
    grid-column: 2;
    grid-row: 1/3;
  }
  #games_container {
    grid-column: 2;
    grid-row: 3;
  }

  #board {
    grid-column: 1;
    grid-row: 1/4;
  }
}
