div.not_mobile {
  width: 30vw;
  background-color: #c3df5d;
}
#content {
  width: fit-content;
}

#right_content {
  margin-top: 0;
}

#games {
  clear: both;
  width: 100vw;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  #content,
  #right_content {
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw !important;
  }
}
