html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/

* {
  max-width: 100vw;
}

body {
  overflow-x: hidden;
  background-color: #c3df5d;
}

footer {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 2.5em;
  background-color: #092834;
  color: white;
  justify-content: center;
  z-index: 3;
}

footer * {
  color: #b2d732;
  margin: 2px;
  padding: 1px;
}

a {
  font-weight: bolder;
  text-decoration: none;
  color: #66b032;
  margin: 2px;
  padding: 1px;
}

a:hover {
  color: #347b98;
}

nav {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #092834;
  color: #b2d732;
  text-align: center;
  z-index: 3;
  align-items: center;
  flex-wrap: wrap;
  line-height: 2.5em;
}

li {
  list-style: disc;
  margin-left: 5%;
}

table,
tr,
th,
td {
  border: solid black 2px;
  border-collapse: collapse;
  word-wrap: anywhere;
}

caption ~ tr th {
  border: solid black 2px !important;
}

article {
  margin: 10px;
}

.float_left {
  float: left;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.no_border {
  border: none;
}

.no_border td,
tr,
th {
  border: none !important;
}

#content,
#content2,
#left_content,
#right_content {
  background-color: #f0f7d4;
}

#content {
  margin-top: 0px !important;
  margin: auto;
  padding: 15px;
  width: 60vw;
}

#content2 {
  margin-left: 10px;
}

#left_content {
  padding-top: 15px;
  padding-left: 1.5em;
  width: 20vw;
}

#left_content ul li {
  list-style: disc;
}

#right_content {
  margin-top: 15px;
  padding-left: 1.5em;
  width: 30vw;
  height: fit-content;
}

#right_content ul li {
  list-style: disc;
}

#pre {
  margin-top: 15px;
}

#graph {
  width: min(850px, 50vw, 70vh);
  height: min(850px, 50vw, 70vh);
}

#pre table {
  margin: auto;
  width: fit-content;
}

#searchContainer {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  label {
    display: flex;
    flex-wrap: wrap;
  }
  .float_left {
    float: none;
  }
  #left_content ul {
    display: flex;
  }
  #left_content ul li {
    list-style: none;
    margin: 0;
    margin-left: 5px;
  }
  article {
    margin: 0;
  }
  #left_content {
    width: 100vw;
  }

  #left_content2 {
    margin-top: 15px;
    padding-left: 1.5em;
    width: fit-content !important;
    height: fit-content;
  }

  #content {
    width: fit-content;
    margin: auto !important;
  }
  #content * {
    word-wrap: break-word;
  }
  .not_mobile {
    display: none !important;
  }
  #searchContainer {
    display: block;
  }
}
