.not_mobile {
  width: 30vw;
  background-color: #c3df5d;
}
#content {
  width: fit-content;
  float: inline-start;
}

#right_content {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }
  #content {
    width: fit-content;
  }
  details {
    width: fit-content !important;
  }
}
