button,
input[type="submit"] {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;

  &,
  * {
    color: var(--odd-row) !important;

    &:not(:disabled):hover {
      color: var(--document-active) !important;
    }
  }
}

button {
  overflow-wrap: break-word;

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(1);
  }
}

footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 4em;

  color: #fff;

  background-color: var(--document-footer);

  * {
    margin: 2px;
    padding: 1px;
    color: var(--document-font-color);
  }
}

a {
  margin: 2px;
  padding: 1px;

  font-weight: bolder;
  color: var(--document-link);
  text-decoration: none;

  &:hover,
  &:hover * {
    color: var(--document-link-hover);
  }
}

nav {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;

  line-height: 2.5em;
  color: var(--document-font-color);
  text-align: center;

  background-color: var(--document-footer);

  details {
    width: 100%;

    &[open] summary::marker {
      content: "X";
    }

    &:not([open]) summary::marker {
      content: "\2630";
    }
  }
}

summary {
  color: var(--document-link);
}

ul li {
  list-style: disc;

  ul li {
    list-style: circle;
  }
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: solid #000 2px;
  overflow-wrap: anywhere;
}

caption ~ tr th {
  border: solid #000 2px !important;
}

article {
  margin: 10px;

  > h1 {
    font-size: 4em;
  }

  &:first-of-type(p) {
    font-size: 1.5em;
  }
}

#content,
#left-content,
#right-content {
  background-color: var(--document-content-background);
}

#content {
  width: 60vw;
  margin: auto;
  margin-top: 0 !important;
  padding: 15px;
  padding-top: 25px;
}

#graph {
  width: min(850px, 50vw, 70vh);
  height: min(850px, 50vw, 70vh);
}

body {
  overflow-x: hidden;
  padding-bottom: 5em;
}

math {
  width: fit-content;
}

:has(math) {
  text-align: left;
}

mspace {
  width: 1ch;
}

@media only screen and (width <= 768px) {
  * {
    max-width: 100%;
    word-break: keep-all;
    overflow-wrap: normal;
  }

  .app {
    min-height: calc(100vh - 5em);
  }

  th,
  tr,
  td,
  table {
    padding: 0 !important;
  }

  nav {
    ul,
    li {
      width: 100%;
      list-style-type: none;
    }
  }

  label {
    display: flex;
    flex-wrap: wrap;
  }

  .float-left {
    float: none;
  }

  .no-border {
    margin: auto;
  }

  article {
    margin: 0;
  }

  #content {
    width: fit-content;
    margin: auto !important;
  }

  .desktop {
    display: none !important;
  }

  input[type="radio"] {
    float: left;
  }
}

@media only screen and (width >= 769px) {
  nav,
  nav * {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  nav {
    ul {
      overflow: hidden;
      display: flex;
      justify-content: space-evenly;

      width: 100%;
      height: fit-content;

      list-style-type: none;

      background-color: var(--document-footer);
    }

    li {
      float: left;
      display: inline-flex;
      align-items: center;
      list-style-type: none;

      a {
        display: block;
        font-weight: bolder;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.loading {
  width: 240px;
  margin: auto;
  padding: 20px 0 10px;

  color: #fff;
  text-align: center;
}

caption {
  caption-side: top !important;
  text-align: center !important;
  background-color: var(--document-content-background);
}
