.bug {
  td:has(input[type='submit']) {
    text-align: center;
  }

  label[for='agreement'] {
    font-size: 0.6em;
  }

  @media screen and (width >= 769px) {
    &#content {
      width: fit-content;
      margin: auto;
    }

    label[for='agreement'] {
      display: inline-flex;
      max-width: 65vw;
      font-size: 0.6em;
    }
  }

  @media screen and (width <= 768px) {
    table {
      display: block;
    }

    tr,
    div {
      display: flex;
    }

    label {
      margin-right: 5px;
      float: left;
    }

    input[type='checkbox'] {
      float: left;
    }

    #notices {
      width: 90vw;
    }

    tr {
      display: flex;
      flex-direction: column;
    }
  }
}
