#game {
  .error {
    background-color: #f00;

    * {
      color: var(--document-font-color);
      text-decoration: none;
    }
  }

  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: unset;
  }

  #first,
  #previous,
  #next,
  #last,
  #first a,
  #previous a,
  #next a,
  #last a {
    color: var(--document-font-color);
  }

  #board-analysis {
    display: grid;
  }

  #button-container {
    margin-top: 5px;
    text-align: center;
  }

  #engine-container {
    width: 150px;
    padding-top: 15px;
    background-color: var(--document-content-background);

    p {
      overflow-y: auto;
      max-height: 3em !important;
      text-wrap: wrap;
    }
  }

  #board {
    grid-row: 1;
  }

  #info {
    text-align: center;
  }

  #notation,
  #board {
    background-color: var(--document-content-background);
  }

  @media only screen and (width <= 768px) {
    #board {
      grid-column: 1/4;
    }

    #content3 {
      display: flex;
      justify-content: center;
    }

    #button-container {
      display: grid;
      grid-template-columns: min-content min-content;
      gap: 0;
    }

    #first-link {
      grid-column: 1;
      grid-row: 1;
    }

    #previous-link {
      grid-column: 1;
      grid-row: 2;
    }

    #next-link {
      grid-column: 2;
      grid-row: 2;
    }

    #last-link {
      grid-column: 2;
      grid-row: 1;
    }

    #engine-container {
      grid-column: 2;
      grid-row: 2;
    }

    .inactive {
      display: none;
    }
  }

  @media only screen and (width >= 769px) {
    #button-container {
      display: flex;
      flex-wrap: nowrap;
    }

    #engine-container {
      grid-column: 3;
      grid-row: 1;
    }

    #board {
      grid-column: 1/3;
    }
  }
}
