.heatmap-board {
  display: grid;
  width: fit-content;
  border: 2px solid #222;
  margin: auto;
  background-color: #ff0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  &,
  * {
    color: #000;
  }
}

.heatmap-square {
  display: flex;
  width: min(40px, 8.5vw, 8.5vh);
  height: min(40px, 8.5vw, 8.5vh);
  align-items: flex-end;
  justify-content: center;
  border: 1px solid rgb(0 0 0 / 20%);
  color: #000;
  font-size: 10px;
}
