#player {
  text-align: center;

  #content {
    width: 90vw;
    text-align: center;
  }

  th {
    border: 2px solid #000 !important;
    overflow-wrap: break-word;
  }

  iframe {
    width: 90vw;
    height: 80vh;
  }

  summary {
    width: fit-content;
    margin: auto;
  }

  .details {
    text-align: left;

    summary {
      display: flex;
      justify-content: space-between;
    }

    &[open] summary::before {
      content: "▼";
    }

    &:not([open]) summary::before {
      content: "▶";
    }

    table {
      border-collapse: collapse;
      width: 100% !important;
    }

    td {
      padding: 0;
    }
  }

  details {
    width: fit-content;
    margin: auto;

    &[open] summary {
      list-style: "▼";
    }

    &:not([open]) summary {
      list-style: "▶";
    }
  }
}

#player .cr-data,
#player .fide-data {
  margin: auto;
  text-align: left;
}

#player .cr-foto {
  width: 100px;
}

#player #container {
  display: flex;
  border: 0;
}

@media only screen and (width <= 768px) {
  #player {
    #container {
      flex-direction: column !important;
      align-items: center;
    }

    img {
      width: min(95vw, 95vh) !important;
      height: min(95vw, 95vh) !important;
    }

    .cr-foto {
      width: 100px !important;
      height: auto !important;
    }
  }
}

@media screen and (width >= 769px) {
  #player #data-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
