button,
input[type='submit'] {
  padding: 10px 20px;
  border-radius: 4px;
  color: var(--document-font-color);
  cursor: pointer;
  font-size: 16px;
}

button {
  overflow-wrap: break-word;

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(1);
  }
}

footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 4em;
  align-items: center;
  justify-content: center;
  background-color: var(--document-footer);
  color: #fff;

  * {
    padding: 1px;
    margin: 2px;
    color: var(--document-font-color);
  }
}

a {
  padding: 1px;
  margin: 2px;
  color: var(--document-link);
  font-weight: bolder;
  text-decoration: none;

  &:hover,
  &:hover * {
    color: var(--document-link-hover);
  }
}

nav {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--document-footer);
  color: var(--document-font-color);
  line-height: 2.5em;
  text-align: center;

  details {
    width: 100%;

    &[open] summary::marker {
      content: 'X';
    }

    &:not([open]) summary::marker {
      content: '\2630';
    }
  }
}

summary {
  color: var(--document-link);
}

ul li {
  list-style: disc;

  ul li {
    list-style: circle;
  }
}

table,
tr,
th,
td {
  border: solid #000 2px;
  border-collapse: collapse;
  overflow-wrap: anywhere;
}

caption ~ tr th {
  border: solid #000 2px !important;
}

article {
  margin: 10px;

  > h1 {
    font-size: 4em;
  }

  &:first-of-type(p) {
    font-size: 1.5em;
  }
}

#content,
#content2,
#left-content,
#right-content {
  background-color: var(--document-content-background);
}

#content {
  width: 60vw;
  padding: 15px;
  padding-top: 25px;
  margin: auto;
  margin-top: 0 !important;
}

#content2 {
  margin-left: 10px;
}

#pre {
  margin-top: 10px;

  table {
    width: fit-content;
    margin: auto;
  }
}

#graph {
  width: min(850px, 50vw, 70vh);
  height: min(850px, 50vw, 70vh);
}

body {
  padding-bottom: 5em;
  overflow-x: hidden;
}

@media only screen and (width <= 768px) {
  * {
    max-width: 100%;
    overflow-wrap: normal;
    word-break: keep-all;
  }

  .app {
    min-height: calc(100vh - 5em);
  }

  nav {
    ul,
    li {
      width: 100%;
      list-style-type: none;
    }
  }

  label {
    display: flex;
    flex-wrap: wrap;
  }

  .float-left {
    float: none;
  }

  .no-border {
    margin: auto;
  }

  article {
    margin: 0;
  }

  #content {
    width: fit-content;
    margin: auto !important;
  }

  .desktop {
    display: none !important;
  }

  input[type='radio'] {
    float: left;
  }
}

@media only screen and (width >= 769px) {
  nav,
  nav * {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  nav {
    ul {
      display: flex;
      overflow: hidden;
      width: 100%;
      height: fit-content;
      justify-content: space-evenly;
      background-color: var(--document-footer);
      list-style-type: none;
    }

    li {
      display: inline-flex;
      align-items: center;
      float: left;
      list-style-type: none;

      a {
        display: block;
        font-weight: bolder;
        text-align: center;
        text-decoration: none;
      }
    }
  }

  .mobile {
    display: none;
  }
}

#table tr {
  &:nth-child(2n) {
    background-color: var(--even-row);
  }

  &:nth-child(2n + 1) {
    background-color: var(--odd-row);
  }
}

.loading {
  width: 240px;
  padding: 20px 0 10px;
  margin: auto;
  color: #fff;
  text-align: center;
}

.spin {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 10px solid var(--document-font-color);
  border-radius: 30px;
  border-right: 10px solid transparent;
  animation: spin 2s linear 0s infinite normal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

caption {
  background-color: var(--document-content-background);
  caption-side: top !important;
  text-align: center !important;
}

table#games {
  margin: auto;

  tr {
    &:nth-child(2n),
    &:nth-child(2n) td,
    &:nth-child(2n) th,
    &:nth-child(2n) input {
      background-color: var(--even-row);
    }

    &:nth-child(2n + 1),
    &:nth-child(2n + 1) td,
    &:nth-child(2n + 1) th,
    &:nth-child(2n + 1) input {
      background-color: var(--odd-row);
    }

    td button:hover {
      color: var(--document-link-hover);
    }
  }

  button {
    a {
      color: var(--document-font-color);
    }

    button:hover a {
      color: var(--document-link-hover);
    }
  }
}
