#games {
  div.desktop {
    width: 30vw;
    visibility: hidden;
  }

  #content {
    width: fit-content;
  }

  #games #right-content {
    margin-top: 0;
  }
}

#search-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (width <= 768px) {
  #games {
    #content,
    #right-content {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
