th {
  border: 2px solid black !important;
}

p[style="text-align: center;"] {
  border: 1px solid black;
}

details[open] summary {
  list-style: "▼";
}

details:not([open]) summary {
  list-style: "▶";
}

.details {
  text-align: left;
}

.details summary {
  display: flex;
  justify-content: space-between;
}

.details[open] summary::before {
  content: "▼";
}

.details:not([open]) summary::before {
  content: "▶";
}

.details table {
  width: 100% !important;
  border-collapse: collapse;
}

.details td {
  padding: 0;
}

#cr-data {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  text-align: left;
}

#cr-foto {
  width: 100px;
}

@media only screen and (max-width: 767px) {
  #container {
    flex-direction: column;
  }

  img {
    width: min(95vw, 95vh) !important;
    height: min(95vw, 95vh) !important;
  }

  #cr-foto {
    width: 100px !important;
    height: auto !important;
  }
}
