<link rel="stylesheet" href="css/search.css" />
<script defer src="/script/search_functions.js"></script>
<script defer src="/script/search.js"></script>

<div id="searchContainer">
  <div class="not_mobile"></div>
  <div id="content"></div>
  <div id="right_content">
    <details id="help" open>
      <summary>Pomoc</summary>
      <ul>
        Możliwe parametry wyszukiwania:
        <li>Trzeba podać nazwisko przynajmniej jednego gracza</li>
        <li>
          kody
          <a
            href="https://pl.wikipedia.org/wiki/Encyklopedia_otwar%C4%87_szachowych"
            >ECO</a
          >
          na wikipedii
        </li>
        <li>
          <ul>
            baza
            <li>
              Polska - turnieje głównie z Polski, ok 700 tys. , szybsza baza
            </li>
            <li>Całość - wszystkie partie, ok 11 mln, wolniejsza baza</li>
          </ul>
        </li>
        <li>
          <ul>
            Wyszukiwanie (wielkość liter nie ma znaczenia)
            <li>
              Zwykłe - zadziała zarówno wpisanie "Nowak, Jan" jak i "Nowak, J" ,
              można stować jokery ( "_" - jeden dowolny znak, "%" - dowolny ciąg
              znaków )
            </li>
            <li>
              Dokładne - wyszuka tylko po wpisaniu "Nowak, Jan", szybsze,
              zalecane jeśli zna się pełne imię i nazwisko gracza/y
            </li>
          </ul>
        </li>
      </ul>
    </details>
  </div>
</div>
<div id="games"></div>
